

@import "./css/calc.css";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100%;
    line-height: 1.5;
    background-color: #F0F0F0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--step-0);
}

code {
    font-family: 'Source Code Pro',
        monospace;
        font-size: 0.95rem;
        font-weight: 500;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr minmax(30ch, 65ch) 1fr;
}

.content {
    grid-column: 2;
    margin: 2rem;
}

h1 {
    font-size: var(--step-5);
    line-height: 1.15;
    margin-block: 1.5rem;
}

.intro-text {
    font-size: var(--step-1);
    line-height: 1.35;
}

h2 {
    font-size: var(--step-2);
}

.step4 {
    font-size: var(--step-4);
}

.step3 {
    font-size: var(--step-3);
}

.step2 {
    font-size: var(--step-2);
}

.step1 {
    font-size: var(--step-1);
}

.scaling, .responsive, .design-development {
    margin-top: 2rem;
}

.resize {
    margin-top: 1rem;
    font-weight: 600;
}

.steps {
    text-align: right;
}

.steps>* {
    border-block: 1px solid black;
}

.values {
    font-size: var(--step--1);
    padding-inline: 0.5rem;
}

.steps, .step1, .step2, .step3, .step4, .values {
    margin-top: 1rem;
}

.layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    margin-bottom: 1rem;
}

.layout > * {
    padding: 0.5rem;
    background-color: bisque;
    border: solid 3px black;
    margin-block: 1rem;
}

.intrinsic {
    grid-column: 1 / 3;
    font-size: 1.33rem;
}

.media {
    grid-column: 2 / 4;
    font-size: 1.33rem;
}

.utopia {
    grid-column: 3 / 5;
}

@media screen and (min-width: 1000px) {
    .media {
        font-size: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .media {
        font-size: 1.33rem;
    }
}

@media screen and (max-width: 600px) {
    .media {
        font-size: 0.5rem;
    }
}

.link {
    padding-bottom: 2rem;
    margin-block: 1rem;
}

